<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<h1>Upload an Image</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="Upload">
</form>

{% if image_data %}
    <h2>Uploaded Image:</h2>
    <img src="{{ image_data }}" alt="Uploaded Image" style="max-width: 300px;">
{% endif %}
</body>
</html>